/* layout for divs */
.monkeys {
	margin-left: auto;
    margin-right: auto;
    width: 85%;
    background-color:#c6dec3 ;
    color: #000000;
    height:100%;
    font-size: 1em;
    line-height:1.4;
    display: block;
    border-radius: 27px 27px 27px 27px;
    box-shadow: 10px 10px 5px 0px;
    padding-right: 10px;
	padding-left: 10px;
    
}

/*main page */

body {
	background-color:#e61c1c;
	opacity: 0.8;
	/*color: #551700;*/
	margin: 25px;
	}

/* content - heading 1*/
h1 {
	/*background:#ffc1aa;*/
	font-family: myFont;
	font-size: 40px;
	font-style: normal;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
	border-radius: 27px 27px 27px 27px;
}

/* content - heading 2*/

h2 {
	/*background:#ffc1aa;*/
	font-family: "Lucida Console";
	font-size: 30px;
	font-style: normal;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
	border-radius: 27px 27px 27px 27px;
}
/* content - back to main menu*/
h3 {
	/*background:#ffc1aa;*/
	font-family: "Lucida Console";
	font-size: 20px;
	font-style: normal;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
	}
/* content - paragraph layout */	
p {
	font-family: "Courier New";
	font-size: 14px;
	font-style: normal;
	}
	
/* navigation - mouse actions */

/* Active link */
a:link {
    color: #e61c1c;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #e61c1c;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #1c44e6;
    text-decoration: none;
    
}

/* selected link */
a:active {
    color:#ffc1aa;
    text-decoration: none;
    
}

/* content - navigation menu*/

ul li {
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow:hidden;
	float: left;
	border-style: solid;
	}

/* navigation - change vertical ul list into horizontal */	
ul a {
	display:inline-block;
	text-decoration: none;
	padding-right: 32px;
	padding-left: 32px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #371C1C;
	
	}


/* content - set image property*/
img {
    border: 1px solid #0000ff;
    height: 100px;
    width: 80px;
    display:inline-block;
}

/* content - load external font using @font-face */

@font-face {
	font-family:MyFont;
	src: url(http://www.google.com/fonts#UsePlace:use/Collection:Roboto+Slab:400,700);
	}
	



